.header {
  background-color: var(--background);
}
.menu {
  display: flex;
  align-items: center;
  max-width: 1240px;
  height: 56px;
  margin: 0 auto;
}

.menu_part_left {
  display: flex;
  flex: 1;
  gap: 20px;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-inactive-color);
}

.link_active {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-primary-color);
}

.logo {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  margin: 0 20px;
}

.menu > a:last-child {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: flex-end;
}